---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -misc-include-cleaner,
        -cppcoreguidelines-special-member-functions,
        -hicpp-special-member-functions,
        -cppcoreguidelines-avoid-magic-numbers,
        -readability-magic-numbers,
        -cppcoreguidelines-rvalue-reference-param-not-moved,
        -cppcoreguidelines-pro-type-vararg,
        -hicpp-vararg,
        -bugprone-easily-swappable-parameters,
        -readability-identifier-length,
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none

CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'x|y|z'
  - key: readability-identifier-length.IgnoredParameterNames
    value: 'x|y|z'