---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -misc-non-private-member-variables-in-classes,
        -misc-include-cleaner,
        -misc-no-recursion,
        -cppcoreguidelines-special-member-functions,
        -hicpp-special-member-functions,
        -cppcoreguidelines-avoid-magic-numbers,
        -readability-magic-numbers,
        -cppcoreguidelines-rvalue-reference-param-not-moved,
        -cppcoreguidelines-pro-type-vararg,
        -hicpp-vararg,
        -bugprone-easily-swappable-parameters,
        -readability-identifier-length,
        -cert-err33-c,
        -cppcoreguidelines-avoid-c-arrays,
        -hicpp-avoid-c-arrays,
        -modernize-avoid-c-arrays,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -misc-const-correctness,
        -readability-qualified-auto,
        -performance-inefficient-vector-operation,
        -performance-unnecessary-value-param,
        -bugprone-switch-missing-default-case,
        -readability-container-data-pointer,
        -misc-unused-parameters,
        -hicpp-deprecated-headers,
        -modernize-deprecated-headers,
        -concurrency-mt-unsafe,
        -cppcoreguidelines-avoid-do-while,
        -readability-redundant-casting,
"
WarningsAsErrors: ''
HeaderFilterRegex: '.*lintel/.*'
FormatStyle:     none

CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: 'x|y|z'
  - key: readability-identifier-length.IgnoredParameterNames
    value: 'x|y|z'